@media screen and (min-width:200px) and (max-width:575px) {
    .btn-outer{
        position: fixed;
        bottom: 0px;
        background-color: white;
    }
    .butt{
        width: 200px;
    }
    .book{
        width: 200px !important;
    }
    .btn-outer{
        
         margin-left: 35px;
         margin-bottom: 10px;
    }
    .bokkkk{
        font-size: small !important;
        font-size: 10px !important;
        
    }
    .btn a{
        width: 100%;
        margin:5px;
        
    }
    .btnnnn{
        padding: 10px !important;
        font-size: 8px !important;
    }
   .rate{
    margin-left: 100px;
   }
    .head {
        margin-left: 20px;
    }
    .threee{
        padding-top: 90px;
    }
    .btn a {
        width: 250px;
    }
    .head{
        font-size: 20px !important;
    }
    .headd{
                font-size: 10px !important;

    }
    .btn a {
        flex-direction: column;
    }
    
}
